@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
	--primary-color: #fa7921;
	--secondary-color: #e55934;
	--tertiary-color:  #b84e07;
	--white-color:  #ffffff;
	--gray-color:  #ccc;
	--background-body:  #080808;
	--background-summary:  #323131;
	--overlay-color: #0e0e0ef4;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	user-select: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--background-body);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


