@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
	--primary-color: #8a2b06;
	--secondary-color: #4d1601;
	--tertiary-color:  #2c0d00;
	--white-color:  #ffffff;
	--background-color:  #312d2d;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	user-select: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--background-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


